<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Code</th>
            <!-- <th>UniversityImage</th> -->
            <!-- <th>UniversityCode</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- interpolationoperator {{}} gives value -->
        <tr *ngFor="let c of collegeCourse">
            <td> {{c.id}}</td>
            <td> {{c.collegeCourseName}}</td>
            <td> {{c.collegeCourseDuration}}</td>
            <td> {{c.code}}</td>
            <!-- <td> {{u.imageUrl}}</td> -->
            <!-- <td> {{u.UniversityCode}}</td> -->
            <td><button (click)="deleteCollegeCourse(c.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>