.profile-image
{
max-width:150px;
max-height:150px;
border:2px solid #3f51b5;
border-radius: 50%;
}

.table1
{
    width: 100%;
    border: 0.5px solid gainsboro;
    border-collapse: collapse;
}

.table1 tr td{
    padding: 10px 10px;
    border: 0.5px solid gainsboro;
    
}

.tablehead
{
    border: 1px solid black;
    font-weight: lighter;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#3f51b5;
    padding: 10px 5px;
}