<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>face</mat-icon>Profile
        </button>
        <button mat-list-item routerLink="/admin/view-students">
            <mat-icon mat-list-icon>accessibility</mat-icon>View All Students
        </button>
        <button mat-list-item routerLink="/admin/application-list">
            <mat-icon mat-list-icon>assignment</mat-icon>View Applications
        </button>
        <button mat-list-item routerLink="/admin/university-add">
            <mat-icon mat-list-icon>business</mat-icon>Add University
        </button>
        <button mat-list-item routerLink="/admin/university-list">
            <mat-icon mat-list-icon>business</mat-icon>University Manager
        </button>
        <button mat-list-item routerLink="/admin/university-course">
            <mat-icon mat-list-icon>business</mat-icon>Add University Course
        </button>
        <button mat-list-item routerLink="/admin/university-course-list">
            <mat-icon mat-list-icon>business</mat-icon>View University Course
        </button>
        <button mat-list-item routerLink="/admin/college-add">
            <mat-icon mat-list-icon>business</mat-icon>Add College
        </button>
        <button mat-list-item routerLink="/admin/college-list">
            <mat-icon mat-list-icon>business</mat-icon>College Manager
        </button>
        <button mat-list-item routerLink="/admin/college-course">
            <mat-icon mat-list-icon>business</mat-icon>Add College Course
        </button>
        <button mat-list-item routerLink="/admin/college-course-list">
            <mat-icon mat-list-icon>business</mat-icon>View College Course
        </button>
    </mat-action-list>
</mat-card>